// ----- fonts
$mainFont: 'Muli', sans-serif;
$baseFontSize: 16px;
$baseFontSizeAsRem: 1rem;

// ----- containers
$baseContainerWidth: 1280px;
$baseContainerPadding: 16px;

// ----- colors
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorGray: #4B5464;
$colorGreen: #86BC42;

$borderColor: #8F8F8F;
$boldTextColor: #6E788D;
$mainTextColor: #9CA3AB;

$baseBackgroundColor: #E5E5E5;
